@charset "utf-8";

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    /* 블랙ver */
    /* background-color: #fff; */

    font-family: 'SpoqaHanSansNeo-Regular','Noto Sans', sans-serif;
    word-break: keep-all;

    /* background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: center; */

    background-color: #081120;
}

/* header */
#header { /* 헤더 100 */
    height: 100px;

    /* 블랙/화이트 ver */

    background-image: url(../img/gnb/gnb_on.png);
    background-repeat: no-repeat;
    background-position: left 14.5% top;

}

.inner_header {

    /* box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.467); */
    border-bottom: 1px solid #fff; 


    width: 1320px;
    margin: 0 auto;
    /* text-align: center; */
}

.logo {
    float: left;
    padding-top: 20px;
    /* border-bottom: 1px dashed #fff; */
}

.logo a img { /* 로고사이즈 조절 */
    width: 150px;
}

/* gnb */
.gnb {
    /* display: flex;
    justify-content: space-between; */

    /* border-top: 1px solid #162844; */
    /* 화이트ver */
    color: #fff;
    /* 블랙ver */
    /* color: #fff; */
    overflow: hidden;
    padding-left: 150px;
}

.gnb > li {
    /* width: calc(100% / 4 - 80px); */
    /* display: inline-block; */
    float: left;
}

.gnb > li > a {
    /* background-color: green; */
    display: block;
    
    font-size: 16px;
    font-weight: bold;

    /* 위치조절 */
    margin-top: 30px;
    padding: 0 50px 30px;
}

.gnb > li:hover { /* gnb 호버시 */
    /* background: url(../img/gnb/162844_on.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%; */

    /* border-radius: 50px 50px 0 0;
    background-color: #16284491;
    color: #fff; */

    /* background-image: url(../img/gnb/file_1.png);
    background-repeat: no-repeat;
    background-position: left 20% top 30%; */

    background-image: url(../img/gnb/bright_1.png);
    background-repeat: no-repeat;
    background-position: center;

}